<!--this is the view and VIEW-->
<!-- when you say 'get' that means go get that information! -->

This is a list of your coaches!

<a href="/coaches/new">Add a coach</a>

<ul>
	<!-- shows -->
	<!-- go through our data collection that contains our coaches and prints each coach as clickable-->
	<% @coaches.each do |coach| %>
		<li><a href="/coaches/<%= coach %>"><%= coach %></a></li>
	<% end %>
</ul>

