hey grasshoppers! 

<!-- when you say 'get' that means go get that information! -->

This is a list of your coaches!

<ul>
	<!-- shows -->
	<% @coaches.each do |coach| %>
		<li><%= coach %></li>
	<% end %>
</ul>
