<!--this is the view and VIEW-->
<!-- when you say 'get' that means go get that information! -->

This is a list of your coaches!

<a href="/coaches/new">Add a coach</a>

<ul>
	<!-- shows -->
	<% @coaches.each do |coach| %>
		<li><%= coach %></li>
	<% end %>
</ul>
